/* General Settings */

* {
    box-sizing: border-box;
    padding: 0;    
    margin: 0;
    font-weight: 400;    
    line-height: 24px;
}

:root {
    font-size: 62.5%;
    min-height: 100vh;
}

body {
    font-family: 'Smythe', sans-serif;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

/* Header Section */

header {
    background-image:
        url(images/ferks-guare-KEZdWfYD-ow-unsplash\ 1.jpg);
    color: #FFFFFF;
    background-size: cover;
    height: 15%;
    margin: 0 auto;
    width: 60rem;
    padding: 5rem;
    font-family: 'Smythe', sans-serif;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header h1 {
    font-size: 4rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;

}

header p {
    font-size: 2rem;
    line-height: 1.4rem;
}

/* Menu Section */

main {
    background: #FFFFFF;
    height: 85%;
    margin: 0 auto;
    width: 60rem;
    padding-top: 7rem;
}

.items-container {
    display: flex;
    flex-direction: column;
}

.item {
    width: 50.8rem;
    height: 14rem;
    margin: 0 auto 4.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
}

.item-inner {
    display: flex;
    flex-direction: column;
    width: 32rem;
}

.item-title {
    font-size: 2.8rem;
    line-height: 1.7rem;
    color: #000000;
    margin-bottom: 1rem;
}

.item-graphic {
    width: 10rem;
    height: 8.9rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 7.8rem;
    line-height: 9.8rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.72;
    text-align: center;
}

.item-graphic p {
    text-align: center;
    width: 100%;
}

.item-description {
    font-size: 1.6rem;
    color: #8B8B8B;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.item-price {
    font-size: 2rem;
    color: #000000;
    margin-bottom: 1rem;
}

.add-btn {
    background-color: #FFFFFF;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 3.2rem;
    text-align: center;
    color: #3C3C3C;
    cursor: pointer;
}

/* Checkout Section */

.checkout-section {
    width: 50.8rem;
    height: 3.19rem;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.order-summary {
    width: 51.2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4rem;
}

.order-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2.2rem;
    width: 51.2rem;
}

.order-item span {
    margin-left: auto;
}

.remove-btn {
    background-color: #FFFFFF;
    border: none;
    font-family: 'Verdana';
    font-style: normal;
    font-size: 1.2rem;
    color: #BBBBBB;
    margin-left: 1rem;
    cursor: pointer;
}

hr {
    width: 50.4rem;
    border: 1px solid #393333;
    margin-bottom: 2.2rem;
}

.purchase-btn {
    display: block;
    height: 6rem;
    width: 50.8rem;
    background: #16DB99;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 2.75rem;
}

/* Payment Modal Section */

.payment-modal {
    display: none;
    background: #FFFFFF;
    border-radius: 3.88991px;
    width: 52.4rem;
    height: 54.2rem;
    filter: drop-shadow(5.18654px 5.18654px 255.437px rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

form {
    height: 70%;
}

input {
    display: block;
    width: 47.5rem;
    height: 7.1rem;
    margin: 1.1rem auto;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #757575;
    padding-left: 1rem;
    border: 1.3px solid #757575;
    border-radius: 3.88991px;
}

.payment-modal h2 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    margin: 4.6rem 0;
}

.pay-btn {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    color: #FFFFFF;
    background: #16DB99;
    border-radius: 3.88991px;
    width: 47.5rem;
    height: 7.1rem;
    border: none;
    margin-top: 4.6rem;
    cursor: pointer;
}

.close-modal-btn {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1rem;
}

.complete-order-msg {
    width: 504px;
    height: 120px;
    background: #ECFDF5;
    border-radius: 3px;
    text-align: center;
    padding: 5rem;
}

.complete-order-msg p {
    font-family: 'Smythe';
    font-size: 3.2rem;
    line-height: 1.7rem;
    color: #065F46;
}